{% extends '../index.html' %}

{% block title %}Регистрация{% endblock %}

{% block body %}

<div class="container">
    <div class="cart-container">
        <form method="post" class="auth-form">
            <h2 class="fw-bolder text-center">Вход</h2>
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-outline-dark text-center w-100">Войти</button>
            <a href="{% url 'register' %}" class="text-center redirect-auth-link">Зарегистрироваться</a>
        </form>
    </div>
</div>

{% endblock %}