{% extends '../index.html' %}

{% block title %}Каталог{% endblock %}

{% block body %}
{% load static %}
{% load custom_tags %}

    <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
                </div>
            </div>
</header>
<!-- Section-->

<div class="container">
<section class="py-5">
    <div class="px-4 px-lg-5 mt-5">

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center product-container">



            {% for key, value in rubrics.items %}
                <div class="w-100 row flex-wrap">
                    <div class="main-page-top-section">
                        <h1 class="main-page-rubric-name text-dark">{{ key }}</h1>
                        <a href="{% url 'catalog' %}?rubric={{ key.slug }}" class="btn btn-outline-dark detail-rubric-btn">Ещё</a>
                    </div>
                    {% for product in value %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top product-img" src="{% static product.image.url %}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ product.name }}</h5>
                                        <!-- Product price-->
                                        ₴ {{ product.price }}
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product_detail' slug=product.slug %}">Подробнее</a></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% empty %}
                По вашему запросу ничего не найдено
            {% endfor %}
        </div>

    </div>
</section>
</div>
{% endblock %}