{% extends '../index.html' %}
{% load static %}
{% load mptt_tags %}
{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    {# product name #}
    <h3 class="bg-dark text-white flex-container mt-5"><span class="title-between-containers">{{ product.name }}</span></h3>
<div class="container">
        <div class="px-4 px-lg-5 container">

            <div class="product-detail-ifo">
                 {# product img #}
                <img class="product-detail-img" src="{% static product.image.url %}">

                <div class="info-about-product">
                <dl class="product-detail-dl">
                    <dt class="product-detail-dt">Название:</dt>
                    <dd class="product-detail-dd">{{ product.name }}</dd>
                </dl>

                <dl class="product-detail-dl">
                    <dt class="product-detail-dt">Автор:</dt>
                    <dd class="product-detail-dd">{{ product.author }}</dd>
                </dl>

                <dl class="product-detail-dl">
                    <dt class="product-detail-dt">Цена:</dt>
                    <dd class="product-detail-dd">₴ {{ product.price }}</dd>
                </dl>

                <dl class="product-detail-dl">
                    <dt class="product-detail-dt">Жанры:</dt>
                    <dd class="product-detail-dd">
                        {% for genre in product.rubric.all %}
                        {{ genre }},
                        {% endfor %}
                    </dd>
                </dl>

                <dl class="product-detail-dl">
                    <dt class="product-detail-dt">Тип продукта:</dt>
                    <dd class="product-detail-dd">
                        {% for type in product.type_of_product.all %}
                        {{ type }},
                        {% endfor %}
                    </dd>
                </dl>

                <form class="d-flex add-to-cart" method="post" action="{% url 'cart_add' pk=product.id %}">
                    {% csrf_token %}
                    {{ form_add_to_cart }}
                    <button href="" class="btn btn-outline-dark btn-add-to-cart" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Добавить в корзину
                    </button>
                </form>
                <!--Add to cart form-->
            </div>
            <!-- Info about product-->

            <dl class="product-detail-description">
                    <dt class="">Описание:</dt>
                    <dd class="">{{ product.description }}</dd>
                </dl>

            </div>

        </div>
</div>
<h3 class="bg-dark text-white flex-container mt-5"><span class="title-between-containers">Комментарии</span></h3>
<div class="container">
        <section class="comment-section">

            <form class="comment-form" data-product="{{ product.id }}">
                <textarea class="comment-input" placeholder="Введите комментарий"></textarea>
                <button type="submit" class="btn-outline-dark btn">Оставить комментарий</button>
            </form>

        <ul class="comment-container" style="list-style: none;">
            {% recursetree comments %}
                <li class="comment bg-light" id="{{ node.id }}">
                    <span class="comment-top-section">
                        <p class="comment-user">{{ node.user }}</p>
                        <p class="comment-created">{{ node.created }}</p>
                    </span>
                    <p class="comment-content">{{ node.content }}</p>


                    <a class="text-decoration-none" data-bs-toggle="collapse" href="#collapseExample{{node.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">Ответить</a> <br>
                    <div class="collapse" id="collapseExample{{node.id}}">
                        <form class="comment-form" id="comment-form-{{ node.id }}" data-product="{{ product.id }}" data-parentid="{{ node.id }}">
                            <textarea class="comment-input" rows="2" cols="40" placeholder="Комментарий" id="comment-text{{ post.id }}"></textarea>
                            <button class="btn btn-dark btn-sm mt-1" type="submit">Ответить</button>
                        </form>
                    </div>

                    {% if not node.is_leaf_node %}
                        <ul class="comment-children" style="list-style: none;">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>

        </section>
        {#COMMENT SECRION#}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<script>

$(document).on('submit', '.comment-form', function (e) {
    e.preventDefault();

    var _prdctid = $(this).attr('data-product');
    var _comment = $(this).find('.comment-input').val();
    var _parentid = $(this).attr('data-parentid');

    $.ajax({
        type: "POST",
        url: "{% url 'comment_post' %}",
        data: {'product_id': _prdctid, 'comment': _comment, 'parentid': _parentid, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success: function(response) {
            if (_parentid) {
                $(`#${_parentid}`).append(`
                <ul class="comment-container" style="list-style: none;">
                    <li class="comment bg-light" id="${response['id']}">
                        <span class="comment-top-section">
                            <p class="comment-user">${response['user']}</p>
                            <p class="comment-created">${response['created']}</p>
                        </span>
                        <p class="comment-content">${response['content']}</p>

                        <a class="text-decoration-none" data-bs-toggle="collapse" href="#collapseExample${response['id']}" role="button" aria-expanded="false" aria-controls="collapseExample">Ответить</a> <br>
                        <div class="collapse" id="collapseExample${response['id']}">
                            <form class="comment-form" id="comment-form-${response['id']}" data-product="{{ product.id }}" data-parentid="${response['id']}">
                                <textarea class="comment-input" rows="2" cols="40" placeholder="Комментарий" id="comment-text{{ product.id }}"></textarea>
                                <button class="btn btn-dark btn-sm mt-1" type="submit">Ответить</button>
                            </form>
                        </div>
                    </li>
                </ul
                `);
            } else {
                $('.comment-container').prepend(`
                    <li class="comment bg-light" id="${response['id']}">
                        <span class="comment-top-section">
                            <p class="comment-user">${response['user']}</p>
                            <p class="comment-created">${response['created']}</p>
                        </span>
                        <p class="comment-content">${response['content']}</p>

                        <a class="text-decoration-none" data-bs-toggle="collapse" href="#collapseExample${response['id']}" role="button" aria-expanded="false" aria-controls="collapseExample">Ответить</a> <br>
                        <div class="collapse" id="collapseExample${response['id']}">
                            <form class="comment-form" id="comment-form-${response['id']}" data-product="{{ product.id }}" data-parentid="${response['id']}">
                                <textarea class="comment-input" rows="2" cols="40" placeholder="Комментарий" id="comment-text{{ product.id }}"></textarea>
                                <button class="btn btn-dark btn-sm mt-1" type="submit">Ответить</button>
                            </form>
                        </div>
                    </li>
                `);


            }

        }
    });
})


</script>
{% endblock %}